.itemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px blue;
    margin-right:30%;
    margin:5% 30%;
    background-color: black;
}
.itemDetail h1{
    font-weight: 600;
    color: blue;
    font-size:3em;
}
.itemDetail p{
    color: white;
    font-size: small;
} 
.itemDetail b{
    font-weight: 200;
    font-size: 2em;
    color: blue;
}
.itemDetail button{
    background-color: white;
    color: blue;
    border-radius: 25%;
    margin: 10px 0px;
    padding: 5px 5px;
    font-weight: 600;
}